//- mixins

mixin inputField(label, name, tag, description)
  .control-group
    label.control-label #{label}
    .controls
      if(errors && errors[name])
        if(errors[name].msg)
          #{tag}(type='text', name=name).error 
      else
        if(job)
          inputVal = job[name]
          if(tag === 'input')
            #{tag}(type='text', name=name, value=inputVal)
          else
            #{tag}(type='text', name=name) #{inputVal}
        else
          #{tag}(type='text', name=name)
      if description!= null
        span.desc #{description}

mixin categoryField
  .control-group
    label.control-label Category
    .controls
      each category, i in categoriesList
        label.radio #{category}
          if i === 0
            input(type='radio', name='category', value='#{i}', checked='true') 
          else
            if(job && job.category == i)
              input(type='radio', name='category', value='#{i}', checked='true')
            else
              input(type='radio', name='category', value='#{i}')

mixin salaryField
  .control-group
    label.control-label Salary
    .controls
      if(errors && errors.salary)
        if(errors.salary.msg)
          input(type='text', name=name).error 
      else
        if(job && job.salary)
          input(type='text', name='salary', value=job.salary)
        else
          input(type='text', name='salary')
      label.checkbox Minimum
        if(job && job.minimum === 'on')
          input(type='checkbox', name='minimum', checked='checked')
        else
          input(type='checkbox', name='minimum')

mixin jobTypeField
  .control-group
    label.control-label Job Type
    .controls
      each availability, i in availabilitiesList
        if i !== 2
          label.radio #{availability}
            if(job && job.jobtype == i)
              input(type='radio', name='jobtype', value='#{i}', checked='true')
            else  
              if i === 0
                input(type='radio', name='jobtype', value='#{i}', checked='true')  
              else
                input(type='radio', name='jobtype', value='#{i}')

//- content proper

extends ../layouts/layout

block tab-header
  li
    a(href='/jobs') Job Posts
  li
    a(href='/users') Developers

block content
  h1 Add Job
  .row-fluid
    .span9
      form(method="POST", action="/jobs/new/preview").form-horizontal
        mixin inputField('Job Title', 'jobtitle', 'input', '"Rails Programmer" or "Flash Game Developer"')
        mixin categoryField
        mixin inputField('Location', 'location', 'input', '"Manila", "Pasig", "QC", or "Anywhere"')
        mixin inputField('Description', 'description', 'textarea', null)
        mixin inputField('Apply Details', 'applydetails', 'textarea', 'How do people apply for this job? Example: Send resume to jane@company.com')
        mixin inputField('Company Name', 'companyname', 'input', 'Enter you company or organization\'s name.')
        mixin inputField('Company Website', 'companywebsite', 'input', 'Example: http://www.google.com')
        mixin inputField('Confirmation Email', 'confirmationemail', 'input', 'This is where we\'ll send your confirmation email.')
        mixin salaryField
        mixin jobTypeField
        .form-actions
          input(type='submit', value='Preview', name='preview').btn.btn-primary.btn-large
          input(type='button', value='Cancel', onclick='document.location.href="/jobs"').btn.btn-large
    .span3
      h6 Be clear. No spamming. Be a good citizen.