extends ../layouts/layout

block tab-header
  li
    a(href='/jobs') Job Posts
  li
    a(href='/users') Developers

block content
  .show-nav
    p.all-jobs
      a(href='/jobs') &lsaquo;&lsaquo; Back to all jobs
    p.category-job
      cat = categoriesList[job.category]
        a(href='/jobs/category/'+ '#{cat}') See more #{cat} jobs &rsaquo;&rsaquo;
  .show-content
    .row-fluid
      aside.span9
        section
          .job-header
            h1 #{job.jobtitle}
            span Posted #{job.created_at.toDateString()}
            h2 #{job.company_name}
            span Location: #{job.location}
            a(href='#{job.company_website}', target='_blank') #{job.company_website}
          .job-details
            h3 PHP #{job.salary.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}
              if '#{job.jobtype}' == 1
                | (minimum)
            h3 #{availabilitiesList[job.jobtype]}
          .job-content #{job.description}
      aside.span3
        section
          include ../shared/social
      .job-apply
        h2 Apply for this position
        #apply-details #{job.apply_details}